#title .background {
    position: relative;
    padding-bottom: 64px;
}

#title .background img {
    width: 100%;
    height: 300px;
    opacity: .6;
}

#title .background .content {
    position: absolute;
    top: 40%;
}

#title .background .content div:first-child {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--primary-color);
}

#title .background .content div:last-child {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 55px;
    color: var(--primary-color);
}

#welcome {
    height: fit-content;
    padding: 0 23%;
    margin-bottom: 64px;
}

#welcome .welcome-layout {
    display: flex;
}

#welcome .welcome-layout .title1 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 21px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--secondary-color);
    padding-bottom: 8px;
}

#welcome .welcome-layout .title2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: var(--primary-color);
    padding-bottom: 24px;
}

#welcome .welcome-layout .list ul li {
    list-style: none;
}

#welcome .welcome-layout .list {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    padding-bottom: 32px;
}

#welcome .welcome-layout .text {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
}

#intro {
    position: relative;
    padding-bottom: 64px;
}

#intro .picture {
    position: relative;
}

#intro .picture img {
    width: 100%;
    height: 430px;
}

#intro .picture::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    z-index: 1;
    opacity: .5;
}

#intro .content {
    position: absolute;
    top: 20%;
    padding: 0 30%;
    text-align: center;
    z-index: 999;
}

#intro .content .text {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: white;
    margin-top: 40px;
}

#intro .content .name {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    color: white;
}

@media only screen and (max-width: 768px) {
    .layout {
        padding: 0 10%;
    }

    .header-top {
        font-size: 12px;
    }

    .header-bot ul li {
        display: block;
    }

    .icon {
        display: block;
    }

    .header-bot ul {
        position: fixed;
        width: 100%;
        height: 30vh;
        top: 160px;
        text-align: center;
        transition: all .5s;
        background-color: var(--accent-color);
        z-index: 9999;
        width: 100%;
        left: -100%;
    }

    .header-bot ul li {
        color: black;
        padding: 0 10%;
        text-align: center;
        line-height: 40px;
        font-size: 24px;
        color: var(--primary-color);
    }

    .checkbtn {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }


    .icon {
        display: block;
        float: left;
    }

    #footer {
        padding: 0 10%;
    }

    #footer .top div:first-child {
        padding-bottom: 36px;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    #footer .top div:last-child {
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
        color: white;
    }

    #footer .top>div:nth-child(2) {
        display: none;
    }

    #footer .top input {
        width: 200px;
        height: 35px;
        border-radius: 5px;
        background-color: var(--accent-color);
    }

    #welcome .welcome-layout .text {
        display: none;
    }
    #welcome {
        height: fit-content;
        padding: 0 6%;
        margin-bottom: 64px;
    }
    #welcome .welcome-layout .title1 {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        color: var(--secondary-color);
        padding-bottom: 8px;
    }
    
    #welcome .welcome-layout .title2 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 55px;
        color: var(--primary-color);
        padding-bottom: 24px;
    }
    
    #welcome .welcome-layout .list ul li {
        list-style: none;
    }
    
    #welcome .welcome-layout .list {
        display: flex;
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        padding-bottom: 32px;
    }
}